label {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    text-align: center;
}

.welbevinden label input[type="radio"] {
    display: block;
}

.positief label input[type="radio"] {
    display: block;
}

#validatie img {
    height: 3em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}